<div id="container">
  <div id="userInfo">
    <h4>{{username}}</h4>
    <a class="editButton" routerLink="/editprofile">Edit Profile</a>
    <p>Name: {{name}}</p>
    <p>Desc: {{description}}</p>
    <p>Blog: {{blogLink}}</p>
    <p>FB: {{facebookLink}}</p>
    <p>Mail: {{eMail}}</p>
  </div>

  <div class="card2" *ngFor="let image of images">
    <div class="image" [style.background-image]="'url('+image+')'" let>
    </div>
    <div id="like-tag">
      <div class="like-button"><button (click)="getLike()">Like</button></div>
      <div class="like-button">{{count}}</div>
    </div>
    <app-comment-session></app-comment-session>
    <div>
      <form [formGroup]="commentSession" (ngSubmit)="onSubmit()">
        <label>Comment</label>
        <br>
        <input type=" text" placeholder="Comment">
        <input type="submit" />
      </form>
    </div>
  </div>